{{define "header"}}
<header class="top-bar">
	<div class="breadcrumbs">
		{{range $index, $element := .Breadcrumbs}}
		{{if $index}}
		<span class="breadcrumb-separator">/</span>
		{{end}}
		<div class="breadcrumb-item">
			{{if .URL}}
			<a href="{{.URL}}" class="breadcrumb-link">{{.Title}}</a>
			{{else}}
			<span class="breadcrumb-current">{{.Title}}</span>
			{{end}}
		</div>
		{{end}}
	</div>

	<div class="header-actions">
		<!--		<div class="search-bar">-->
		<!--			<input type="text" placeholder="Search..." class="search-input">-->
		<!--		</div>-->
		{{if .UserEmail}}
		<div class="user-info">
			<span class="user-email">{{.UserEmail}}</span>
			<button class="logout-btn" id="logout-btn">
				<i data-lucide="log-out" style="width: 16px; height: 16px; margin-right: 4px;"></i>
				Logout
			</button>
		</div>
		{{end}}
	</div>
</header>
{{end}}